$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "./webfont/stylesheet.css";

@import "./visual";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.visual-customer-journey {
    margin-bottom:1em;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    height:7em;
    position:relative;
    text-align: center;

    hr {
        border:0;
        margin:0;
        position:absolute;
        top:50%;
        $height:4px;
        height:$height; 
        margin-top:-$height/2;
        width:100%;
        background:#333;
    }

    .visual-touchpoints {
        //display: flex;
        //justify-content:center;
    }
}

.sortable-ghost {
    opacity:0.42;
}

$touchpoint-fontsize: 4em;
$touchpoint-size: 1.3em;
$touchpoint-border-size: 0.06em;

.visual-touchpoint {
    height: $touchpoint-size;
    width: $touchpoint-size;
    background: white;
    border: solid $touchpoint-border-size #333;
    font-family: "visualregular";
    font-size: $touchpoint-fontsize;
    border-radius: 50%;
    line-height: $touchpoint-size - $touchpoint-border-size;
    text-align: center;
    //box-shadow: 0px 0px 0.7em 0.12em rgba(0,0,0,0.25), 0 0 0.12em rgba(0,0,0,0.8), -0.1em -0.1em 0.5em rgba(0,0,0,0.15) inset;
    display: inline-block;
    margin: 0.2em;
    z-index:100;
    position:relative;

    &:before {
        width: $touchpoint-size - $touchpoint-border-size;
        display: block;
        content:"a";
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.left,.layout.bottom,.main {
    position:absolute;
}

$left-width: 16em;
$bottom-height: 10em;

.main {
    left:$left-width;
    right:0;
    top:0;
    bottom:$bottom-height;
    padding-top:20px;

}

.left {
    left:0;
    width:$left-width;
    top:0;
    bottom:0;
    background:grey;
    background:rgb(214, 220, 224);
}

.layout.bottom {
    left:$left-width;
    bottom:0;
    right:0;
    height:$bottom-height;
    background: #eaeaea;
}

.visual-transparent-input:not(:focus):not(:hover) {
    border-color:transparent;
    box-shadow:none;
}

.visual-title {
    font-size:2.2em;
    height:60px;
}

.layout.bottom {
    .tool {
        width:8em;
        text-align: center;
    }
    .visual-touchpoint {
        display: block;
        margin: 20px auto 10px auto;
    }
}

.left {
    h3 {
        text-align: center;
        margin-top:15px;
    }
}

.main {
    display:flex;
    flex-direction: column;
}

.ijumbotron {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.touchpoint-panel {
    font-family: 'visualregular';
    font-size:2em;
    text-align:justify;
}

.popover {
    border-radius:0;
    max-width:320px;
}

.popover-btn {
    background: none;
    border:none;
    font-size:6px;

    .visual-touchpoint {
        border:none;
        border-radius:0;
        display:inline;
        margin:0;
    }

    &.popover-actor-btn {
        height:30px;
        width:30px;
        border-radius:50%;
    }
}