.visual-touchpoint.visual-telephone-conversation:before {
    content: "a";
}
.visual-touchpoint.visual-e-mail:before {
    content: "b";
}
.visual-touchpoint.visual-sms:before {
    content: "c";
}
.visual-touchpoint.visual-call-center:before {
    content: "d";
}
.visual-touchpoint.visual-chat:before {
    content: "f";
}
.visual-touchpoint.visual-social-media:before {
    content: "g";
}
.visual-touchpoint.visual-internet-via-pc:before {
    content: "h";
}
.visual-touchpoint.visual-internet-via-tablet:before {
    content: "i";
}
.visual-touchpoint.visual-internet-via-smartphone:before {
    content: "j";
}
.visual-touchpoint.visual-payment-1:before {
    content: "k";
}
.visual-touchpoint.visual-payment-2:before {
    content: "l";
}
.visual-touchpoint.visual-payment-3:before {
    content: "m";
}
.visual-touchpoint.visual-face-to-face-conversation-1:before {
    content: "n";
}
.visual-touchpoint.visual-face-to-face-conversation-2:before {
    content: "o";
}
.visual-touchpoint.visual-invoice-1:before {
    content: "p";
}
.visual-touchpoint.visual-invoice-2:before {
    content: "q";
}
.visual-touchpoint.visual-invoice-3:before {
    content: "r";
}
.visual-touchpoint.visual-self-service-machine-1:before {
    content: "s";
}
.visual-touchpoint.visual-self-service-machine-2:before {
    content: "t";
}
.visual-touchpoint.visual-internet-globe:before {
    content: "u";
}
.visual-touchpoint.visual-pc:before {
    content: "v";
}
.visual-touchpoint.visual-laptop:before {
    content: "w";
}
.visual-touchpoint.visual-tablet:before {
    content: "x";
}
.visual-touchpoint.visual-smartphone:before {
    content: "y";
}
.visual-touchpoint.visual-app-on-pc:before {
    content: "z";
}
.visual-touchpoint.visual-app-on-tablet:before {
    content: "A";
}
.visual-touchpoint.visual-app-on-smartphone:before {
    content: "B";
}
.visual-touchpoint.visual-shop-counter-1:before {
    content: "C";
}
.visual-touchpoint.visual-shop-counter-2:before {
    content: "D";
}
.visual-touchpoint.visual-telephone-1:before {
    content: "E";
}
.visual-touchpoint.visual-telephone-2:before {
    content: "F";
}
.visual-touchpoint.visual-message-service-1:before {
    content: "G";
}
.visual-touchpoint.visual-message-service-2:before {
    content: "H";
}
.visual-touchpoint.visual-service-desk-1:before {
    content: "I";
}
.visual-touchpoint.visual-service-desk-2:before {
    content: "J";
}
.visual-touchpoint.visual-shopping-1:before {
    content: "K";
}
.visual-touchpoint.visual-shopping-2:before {
    content: "L";
}
.visual-touchpoint.visual-store-1:before {
    content: "M";
}
.visual-touchpoint.visual-store-2:before {
    content: "N";
}
.visual-touchpoint.visual-store-3:before {
    content: "O";
}
.visual-touchpoint.visual-social-media-interaction:before {
    content: "P";
}
.visual-touchpoint.visual-fax:before {
    content: "Q";
}
.visual-touchpoint.visual-bank-1:before {
    content: "R";
}
.visual-touchpoint.visual-bank-2:before {
    content: "S";
}
.visual-touchpoint.visual-technician:before {
    content: "T";
}
.visual-touchpoint.visual-logistics:before {
    content: "U";
}
.visual-touchpoint.visual-parcel-1:before {
    content: "V";
}
.visual-touchpoint.visual-parcel-2:before {
    content: "W";
}
.visual-user.visual-user-1:before {
    content: "X";
}
.visual-user.visual-user-2:before {
    content: "Y";
}
.visual-user.visual-user-3:before {
    content: "Z";
}
.visual-user.visual-user-4:before {
    content: "[";
}
.visual-user.visual-user-5:before {
    content: "\\";
}
.visual-user.visual-user-6:before {
    content: "]";
}
.visual-user.visual-user-7:before {
    content: "^";
}
.visual-user.visual-user-8:before {
    content: "_";
}
.visual-user.visual-user-9:before {
    content: "{";
}
.visual-user.visual-user-10:before {
    content: "|";
}
.visual-user.visual-user-11:before {
    content: "}";
}
.visual-user.visual-user-12:before {
    content: "~";
}
.visual-user.visual-service-provider-1:before {
    content: "!";
}
.visual-user.visual-service-provider-2:before {
    content: "\"";
}
.visual-user.visual-service-provider-3:before {
    content: "#";
}
.visual-user.visual-service-provider-4:before {
    content: "$";
}
.visual-user.visual-service-provider-5:before {
    content: "%";
}
.visual-user.visual-employee-1:before {
    content: "&";
}
.visual-user.visual-employee-2:before {
    content: "'";
}
.visual-user.visual-employee-3:before {
    content: "(";
}
.visual-user.visual-employee-4:before {
    content: ")";
}
.visual-user.visual-employee-5:before {
    content: "`";
}
.visual-user.visual-employee-6:before {
    content: "*";
}
.visual-user.visual-patient-1:before {
    content: "+";
}
.visual-user.visual-patient-2:before {
    content: ",";
}
.visual-user.visual-patient-3:before {
    content: "-";
}
.visual-user.visual-general-practitioner:before {
    content: ".";
}
.visual-user.visual-doctor-1:before {
    content: "/";
}
.visual-user.visual-doctor-2:before {
    content: ":";
}
.visual-user.visual-doctor-3:before {
    content: ";";
}
.visual-user.visual-doctor-4:before {
    content: "<";
}
.visual-user.visual-nurse-1:before {
    content: "=";
}
.visual-user.visual-nurse-2:before {
    content: ">";
}
.visual-user.visual-nurse-3:before {
    content: "?";
}
.visual-user.visual-nurse-4:before {
    content: "@";
}
.visual-user.visual-chief-nurse:before {
    content: "à";
}
.visual-user.visual-health-secretary-1:before {
    content: "â";
}
.visual-user.visual-health-secretary-2:before {
    content: "é";
}
.visual-user.visual-chief-nurse:before {
    content: "à";
}
.visual-user.visual-secretary-receptionist-1:before {
    content: "è";
}
.visual-user.visual-secretary-receptionist-2:before {
    content: "æ";
}
.visual-user.visual-hospital-1:before {
    content: "ê";
}
.visual-user.visual-hospital-2:before {
    content: "î";
}
.visual-user.visual-hospital-3:before {
    content: "ï";
}
.visual-user.visual-hospital-4:before {
    content: "œ";
}
.visual-user.visual-hospital-post-office:before {
    content: "ø";
}
.visual-user.visual-hospital-computer-system:before {
    content: "ç";
}
.visual-user.visual-patient-medical-record-1:before {
    content: "ô";
}
.visual-user.visual-patient-medical-record-2:before {
    content: "ö";
}
.visual-user.visual-patient-medical-record-3:before {
    content: "ù";
}
.visual-user.visual-very-unsatisfied:before {
    content: "0";
}
.visual-user.visual-unsatisfied:before {
    content: "1";
}
.visual-user.visual-neutral:before {
    content: "2";
}
.visual-user.visual-satisfied:before {
    content: "3";
}
.visual-user.visual-very-satisfied:before {
    content: "4";
}
.visual-user.visual-very-unsatisfied:before {
    content: "0";
}
